.footer-component {
    
.my-custom-icon-class {
    font-size: 1.5rem; 
}
.team {
  position: relative;
  margin: 0 20px;
  cursor: pointer;
  color: #7a7979;
  }
  
  .team .content {
  position: absolute;
  bottom: 30px;
  width: 340px;
  background: #f7f7f7;
  padding: 20px;
  margin-left: 68%;
  box-sizing: border-box;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  transition-delay: 0.6s;
  }
  
  .team:hover .content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
  transition-delay: 0s;
  }
  .team .content h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
  }
  
  .content ul {
  margin: 0;
  padding: 0;
  text-indent: 15px;
  }
  
  .content ul li {
  list-style: none;
  line-height: 25px;
  margin-bottom: 10px;
  }
  .team .content a {
    text-decoration: none;
    line-height: 25px;
    margin-bottom: 10px;
    }
    .team .content a b {
      margin-left: 10px;
      }


}